html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #1c2333;
  color: #fff;
  margin: 0;
}

.container {
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

button{

    display: block;

    padding: 15px;

    border-radius: 10px;

    background-color: white;

    border: solid 1px black;

    font-size: 1.2rem;

}

img {
  width: 30vw;
  margin-bottom: 5vh;
}